*{
    margin: 0; padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
}
.navbar-items{
    width:  80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elems ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-elems ul li a{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    transition: all 0.7s ease;
    font-size: 21.03px;
}
.nav-elems ul li a:hover{
    color: red;
    border: 1px solid black;
    border-radius: 31px;
    padding: 5px;
}
#home{
    color: #2F80ED;
}
#home:hover{
    color: #333333;
}
.contbutn button{
    padding: 16.82px 42.06px;
    background-color: transparent;
    border-radius: 31.54px;
    font-weight: 700;
    color: #0E1035;
    font-size: 21.03px;
    cursor: pointer;
    transition: all 0.7s ease;
}
.contbutn button:hover{
    background-color: #2F80ED;
    color: aliceblue;
}
.main{
         display: flex;
         justify-content: center;
}
.clas{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    width: 120%;
    display: flex;
    justify-content: start;
    
}
.left{
    margin-top: 70px;
    width: 100%;
}
span{
    color: #2F80ED;
}
.left h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 94px;
    margin-bottom: 20px;
}
.left p{
font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #676767;
margin-bottom: 50px;
}
#book{
    padding: 16.82px 42.06px;
    background-color: transparent;
    border-radius: 11.54px;
    font-weight: 700;
    color: #0E1035;
    font-size: 21.03px;
    cursor: pointer;
    transition: all 0.7s ease;
     background: #0E1035;
     color: white;
}
#book:hover{
    background-color: green;
    color: aliceblue;
}
.main2{
    display: flex;
    justify-content: center;
    background-color: #0E1035;
}
.service2{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 171px;
   
    flex-direction: column;
}
.imggg{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topp p{
    color: white;
}
.obshi{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.leftimg{
    width: 45%;
}.leftimg img{
    width: 100%;
}
.righttext{
    width: 45%;
}
.righttext p,.righttext h1{
    color: white;
}
.righttext h1{
    font-weight: 700;
font-size: 64px;
line-height: 77px;
}
.righttext p{
    font-weight: 500;
font-size: 24px;
line-height: 150%;
color: #BDBBBB;
}
.ulo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.ul1 li{
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ul1 ul li a{
    text-decoration: none;
    color: white;
}
.ul2 li{
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ul2 ul li a{
   
color: #0E1035;
    text-decoration: none;
}
.main3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul11 li{
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 30px;
}
#safety{
    color: #0E1035;
}
.ul11 ul li a{
    text-decoration: none;
    
color: #0E1035;
}
.ul22 li{
    list-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ul22 ul li a{
 
color: #0E1035;
    text-decoration: none;
}
.main4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fleet{
    width: 80%;
    justify-content: center;
    align-items: center;
}
#flet{
    
    margin-top: 20px;
    font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #0E1035;
}
.bottom .top{
    box-shadow: 3px 3px 3px black;
    border-radius: 20px;
    background-size: 100% 100%;
    background: url(./backround12.png);
}
.samalyot{
    width: 49%;
}
.bottom{
    display: flex;
    justify-content: space-between;
    
}
.toppp{
    text-align: center;
    margin-bottom: 35px;
}
.toppp p{
    font-weight: 500;
font-size: 24px;
line-height: 150%;
text-align: center;
color: #676767;
}
.main6{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1035;
}
.xatak{

    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rost{
    background: url(./xatak.png);
}
.rost button{
    font-size: 24px;
    padding: 15px 25px;
    border-radius: 25px;
    cursor: pointer;
}
.chap h1{
    color: white;
}
.rost button:hover{
    background-color: purple;
    color: #0E1035;
}